<!DOCTYPE html>
<html>
<head>
  <title>Watch</title>
  <%= stylesheet_link_tag    "watch/application", media: "all" %>
  <%= javascript_include_tag "watch/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
