<p id="notice"><%= notice %></p>

<h1>Firms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Watch</th>
    </tr>
  </thead>

  <tbody>
    <% firms.each do |firm| %>
      <tr>
        <td>
          <%= link_to firm.name, firm_path(firm) %>          
        </td>
        <td>
          <%= react_watch_widget(firm) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

